
<div class="row d-flex align-items-center mb-2">
    <div class="col">
        <h4 class="mb-0">
            Employee Detail
        </h4>
    </div>
</div>

<div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-5">
            <div class="form-group">
                <label>
                    Username
                </label>
                <div>
                    {{data.username}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-5">
            <div class="form-group">
                <label>
                    First Name
                </label>
                <div>
                    {{data.firstName}}
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-5">
            <div class="form-group">
                <label>
                    Last Name
                </label>
                <div>
                    {{data.lastName}}
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-5">
            <div class="form-group">
                <label>
                    Birth Date
                </label>
                <div>
                    {{data.birthDate | date}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-5">
            <div class="form-group">
                <label>
                    Email
                </label>
                <div>
                    {{data.email}}
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-5">
            <div class="form-group">
                <label>
                    Basic Salary
                </label>
                <div>
                    {{data.basicSalary | currency:"IDR":"Rp"}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-5">
            <div class="form-group">
                <label>
                    Status
                </label>
                <div>
                    {{data.status}}
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-5">
            <div class="form-group">
                <label>
                    Group
                </label>
                 <div>
                    {{data.group}}
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-5">
            <div class="form-group">
                <label>
                    Description
                </label>
                <div>
                    {{data.description}}
                </div>
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-primary" (click)="back()">
           Ok
        </button>
    </div>
</div>