@import './color.scss';

$theme-colors:(
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
);
$spacer: 3rem;

.btn{
    border-radius: 0 !important;
}

.form-control{
    border: 1px solid #D3D3D3 !important;
    border-radius: 0 !important;
}

.form-group{
    label{
        font-weight: 500;
    }
    margin-bottom: 12pt;
}
.ng-touched.ng-invalid{
    @extend .is-invalid;
}

@import "node_modules/bootstrap/scss/bootstrap";
