@import './color.scss';

$theme-colors:(
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
);
$spacer: 3rem;

.form-group{
    margin-bottom: 12pt;
}

@import "node_modules/bootstrap/scss/bootstrap";

.ng-touched.ng-invalid{
    @extend .is-invalid;
}