<div class="bg-white">
    <div class="row d-flex align-items-center mb-1">
        <div class="col">
            <input class="form-control mb-0 search-icon" placeholder="Cari nama.."
            [(ngModel)]="state.search"
            (ngModelChange)="beginSearch()">
        </div>
        <div class="col-auto" *ngIf="!hideFilter">
            <button class="btn btn-danger"
            (click)="clearSearch()"
            *ngIf="state.search">
                Reset
            </button>
            <button class="btn text-primary"
            (click)="onClickF()">
                <fa-icon [icon]="fontAwesome.filter"></fa-icon>
            </button>
        </div>
    </div>
    
    <div class="table-wrapper">
        <table class="table"> 
            <ng-content></ng-content>
        </table>
    </div>

    <div class="row d-flex align-items-center mt-1" *ngIf="!hidePagination">
        <div class="col">
            <div class="pagination d-flex align-items-center justify-content-end">
                <div class="page-button-control"
                (click)="pagination.backBatchPage()" [hidden]="!pagination.canBackBatchPage()">
                    <fa-icon style="margin-left: 6pt; margin-top: 10pt;" [icon]="fontAwesome.chevron.back"></fa-icon>
                </div>
            
                <!-- Show 5 pages per cycle-->
                <div class="page-number"
                [ngClass]="{
                    'selected': state.page == i+pagination.offset+1
                }"
                *ngFor="let x of [].constructor(maxPage) |
                slice:pagination.offset:pagination.offset+pagination.cycle; let i=index"
                (click)="onSelectNewPage(i+pagination.offset+1)">
                    <div class="num">
                        {{i+pagination.offset+1}}
                    </div>
                </div>
                
                <!-- Show trailing pagination-->
                <div class="d-flex align-items-center" *ngIf="showTrailingPage">
                    <div class="dots">
                        ...
                    </div>
                    <div class="page-number">
                        <div class="num" (click)="onSelectNewPage(maxPage)">
                            {{maxPage}}
                        </div>
                    </div>
                </div>
                
                <div class="page-button-control"
                (click)="pagination.nextBatchPage()" [hidden]="!pagination.canNextBatchPage()">
                    <fa-icon style="margin-left: 6pt; margin-top: 10pt;" [icon]="fontAwesome.chevron.forward"></fa-icon>
                </div>
                <div>
                    <input class="form-control"
                    [(ngModel)]="state.limit"
                    (ngModelChange)="onChangePageLength()"
                    style="width: 42pt;" type="number">
                </div>
            </div>
        </div>
    </div>
</div>