<div class="menu-wrapper"
[ngClass]="{
    'open':isSidebarOpened
}">
    <div class="menu-content">
        <div class="row px-2 d-flex align-items-center">
            <div class="col-auto">
                <button class="btn"
                (click)="close()">
                    <span style="font-size: 20pt; cursor: pointer; color: white">
                        &times;
                    </span>
                </button>
            </div>
            <div class="col">
                <span style="color: white; font-size: 18pt;">
                    Menu
                </span>
            </div>
        </div>
        <div class="menus">
            <div class="menus__menu"
            routerLink="/employee"
            routerLinkActive="active">
                Employee
            </div>
        </div>
    </div>
</div>