<div class="headerSpacer"></div>
<div class="header">
    <div class="row px-2 py-1 d-flex align-items-center">
        <div class="col-auto">
            <button class="btn"
            (click)="openSidebar()">
                <fa-icon [icon]="fontAwesome.menu"></fa-icon>
            </button>
        </div>
        <div class="col">
            <span style="font-weight: 600; font-size: 14pt;">
                Backoffice
            </span>
        </div>
        <div class="col-auto">
            <button class="btn">
                <span class="me-1">Logout</span> <fa-icon [icon]="fontAwesome.logout"></fa-icon>
            </button>
        </div>
    </div>
</div>