@import '../../../styles/color.scss';

$h: 40pt;

.headerSpacer{
    height: $h;
}

.header{
    position: fixed;
    top: 0;
    height: $h;
    width: 100%;
    background-color: $info;
    box-shadow: 0 0 12pt #000000A0;
    *{
        color: white;
    }
}