<div class="headerSpacer"></div>
<div class="header">
    <div class="row px-2 py-1 d-flex align-items-center">
        <div class="col-auto">
            <button class="btn btn-primary"
            (click)="openSidebar()">
                Menu
            </button>
        </div>
        <div class="col">
            <span style="font-weight: 600; font-size: 14pt;">
                Backoffice
            </span>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary">
                Logout
            </button>
        </div>
    </div>
</div>