<div class="row d-flex align-items-center mb-2">
    <div class="col">
        <h4 class="mb-0">
            Employee List
        </h4>
    </div>
    <div class="col-auto">
        <button class="btn btn-outline-primary"
        routerLink="/employee/new">
            + Add New
        </button>
    </div>
</div>

<complete-table
(onClickFilter)="filterToggleSvc.openFilter()"
[maxPage]="paginationResult.maxPage">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>
            <th>
                Birth Date
            </th>
            <th>
                Group
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data">
            <td>
                {{item.username}}
            </td>
            <td>
                {{item.firstName}}
            </td>
            <td>
                {{item.lastName}}
            </td>
            <td>
                {{item.email}}
            </td>
            <td>
                {{item.birthDate | date}}
            </td>
            <td>
                {{item.group}}
            </td>
            <td>
                <button class="btn btn-secondary me-1"
                routerLink="/employee/{{item.id}}">
                    Detail
                </button>
                <button class="btn btn-warning me-1"
                routerLink="/employee/{{item.id}}/edit">
                    Edit
                </button>
                <button class="btn btn-danger"
                (click)="deleteEmployee()">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</complete-table>

<filter>
    <div>
        <div class="form-group">
            <label class="text-white">Group</label>
            <select class="form-control"
            [(ngModel)]="state.group">
                <option [value]="null">Pilih..</option>
                <option *ngFor="let item of options.group">
                    {{item.name}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label class="text-white">Range Tanggal Lahir</label>
            <div class="row">
                <div class="col">
                    <label class="text-white">Mulai</label>
                    <input class="form-control" type="date"
                    [(ngModel)]="state.startBirthDate">
                </div>
                <div class="col">
                    <label class="text-white">Akhir</label>
                    <input class="form-control" type="date"
                    [min]="state.startBirthDate"
                    [(ngModel)]="state.endBirthDate">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary w-100"
                (click)="onChangeFilter()">
                    Terapkan
                </button>
            </div>
            <div class="col">
                <button class="btn btn-outline-danger w-100"
                (click)="resetFilter()">
                    Reset
                </button>
            </div>
        </div>
    </div>
</filter>